{% extends 'base.html' %}

{% block content %}
<main role="main">

    <div class="container">

      <h1>{{ category.title }}</h1>

      <div class="row">


        {% for product in object_list %}
        <div class="col-md-4">
          <h2>{{product.title}}</h2>

          <a href="{{ product.get_absolute_url }}">

            <img src="{{ product.image.url }}" width="180">

          </a>

          <form>
            <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
          </form>
        </div>
        {% endfor %}


      </div> <!-- /container -->

    </div>
  </main>
{% endblock%}