{% extends 'base.html' %}

{% block content %}
<main role="main">

    <div class="container">

      <h1>{{ category.title }}</h1>

      <div class="row">


        {% for product in object_list %}
        <div class="col-md-4">
          <h2>{{product.title}}</h2>

          <a href="{{ product.get_absolute_url }}">

            <img src="{{ product.image.url }}" width="180">

          </a>
          <div>{{ product.price }}</div>

          <form method="post" action="{% url 'cart_update'%}">{% csrf_token %}
              <input type="hidden" name="product_id" value="{{ product.id }}">
              {% if product in cart.products.all %}
              <input type="button" class="btn btn-secondary" value="Уже в корзине">
              {% else %}
                <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
              {% endif %}
            </form>
        </div>
        {% endfor %}
        {% if is_paginated %}
        <nav class="container">
        <ul class="pagination justify-content-left">
          {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
          {% else %}
          <li class="page-item disabled"><a class="page-link" href="#"><span>&laquo;</span></a></li>
          {% endif %}
          {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
          <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
          {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
          {% else %}
          <li class="page-item disabled"><a class="page-link" href="#"><span>&raquo;</span></a></li>
          {% endif %}
        </ul>
        </nav>
        {% endif %}

      </div>

    </div>
  </main>
{% endblock%}