{% extends 'base.html' %}

{% block content %}
<main role="main">
  {% for post in posts%}

    <div class="jumbotron">
      <div class="container">
        {{ post.text }}
      </div>
    </div>
  
  
    <div class="container mb-5">
      <!-- Example row of columns -->
      <div class="row">
        {% for product in post.product.all %}
        <div class="col-md-4">
          <h2>Nexus 5x</h2>
  
          <a href="{{ product.get_absolute_url }}">
  
            <img src="{{ product.image.url }}" width="180">
  
          </a>
  
          <form method="post" action="{% url 'cart_update' %}">{% csrf_token %}
              <input type="hidden" name="product_id" value="{{ product.id }}">
              {% if product in cart.products.all %}
              <input type="button" class="btn btn-secondary" value="Уже в корзине">
              {% else %}
                <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
              {% endif %}
            </form>
        </div>
        {% endfor %}
  
      </div>
    </div> <!-- /container -->
    {% endfor %}
  </main>
{% endblock%}
