{% extends 'base.html'%}
{% load filters%}
{% block content %}
<main role="main">


  <div class="container mt-3">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-12">
        <h2>{{ object.title }}</h2>

        <img src="{{ object.image.url }}" width="120">
        <div>Цена: {{ object.price }}</div>
        <div>
          Описание:
          <p>{{ object.description }}</p>
        </div>
        <form method="post" action="{% url 'cart_update'%}">{% csrf_token %}
          <input type="hidden" name="product_id" value="{{ object.id }}">
          {% if object in cart.products.all %}
          <input type="" class="btn btn-secondary" value="Уже в корзине">
          {% else %}
            <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
          {% endif %}
        </form>
      </div>
    </div>

    <hr>
    {% for comment in comments%}
      {{comment.stars|convert_stars}}
      {% if comment.author%}
        <span>{{comment.author}}</span>
      {% else %}
      <span>Anonymus</span>
      {% endif %}
      <p>{{comment.text}}</p>
    {% endfor %}
    <hr>

    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-12">
        <h4>Оставте отзыв:</h4>

        <form method="post">
          {% csrf_token %}
          {{form.as_p}}

          <button type="submit" class="btn btn-primary">Оставить</button>
        </form>
      </div>
    </div>

  </div> <!-- /container -->


</main>
{% endblock %}